*.cpython-38.pyc
*.DS_Store
*.deb
*.html
*.ipynb_checkpoints
*.patch
*.png
*.pyc
*.pysave
*tar.gz
*.txt
*.vscode
__pycache__
__pycache__/*
bioreaction
data/*
!data/example
explanations/output
lib/*
Miniconda3*
!requirements.txt