*.cpython-38.pyc
*.DS_Store
*.deb
*.html
*.ipynb_checkpoints
*.patch
*.png
*.pyc
*.pysave
*.egg-info
*.tar.gz
*.txt
*.vscode
*.whl
__pycache__
__pycache__/*
bioreaction
data/*
!data/example
!data/summarise_simulation/2023_07_17_222747
explanations/output
lib/*
Miniconda3*
!requirements.txt
synbio_morpher/srv/parameter_prediction/IntaRNA
synbio_morpher/srv/parameter_prediction/RNAstructure