argparse
biopython
bokeh
-e git+https://github.com/Steel-Lab-Oxford/core-bioreaction-simulation.git@a3b65d09c22475c5346beec8c180ba6d5c76f866#egg=bioreaction
celluloid
chex>=0.1.6
fire
jax==0.4.8 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# jaxlib==0.4.9+cuda11.cudnn86 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jupyter
diffrax
matplotlib==3.6.0
networkx
numpy
optax==0.1.4
pandas
plotly.express
pyvis
scipy
seaborn
six
tensorflow==2.12.0
tensorflow-probability==0.16.0
torch
torchvision
tqdm
umap-learn
wandb
# wheel